name: S3 Deploy

on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults: 
      run: 
       working-directory: ./mock-email-client
    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install dependencies
      working-directory: ./mock-email-client
      run: npm install

    - name: Build
      working-directory: ./mock-email-client
      run: npm run build:prod

    - name: Deploy
      if: success()
      working-directory: ./mock-email-client
      run: aws s3 sync ./dist/mock-email-client s3://mock-email-client
