name: Lint, Test, and Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults: 
      run: 
        working-directory: ./mock-email-client
    strategy:
      matrix:
        node: [18]
    name: Angular E2E test on Node.js ${{ matrix.node }}
    
    steps:
    
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install
        run: npm install --force
        
      - name: Build
        run: npm run build

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          working-directory: ./mock-email-client
          config-file: cypress.config.ts
          install: false
          build: npm run build
          start: npm start
          run: npm run e2e
          wait-on: 'http:localhost:4200'
          browser: chrome
          headless: true
          record: true
        env:
          CYPRESS_username: ${{secrets.CYPRESS_USERNAME}}
          CYPRESS_password: ${{secrets.CYPRESS_PASSWORD}}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
