name: S3 Deploy

on:
  workflow_dispatch:
    inputs:
      choice:
        type: choice
        description: Select the environment
        options:
        - dev
        - prod
        required: false
      Version:
        required: false
        
jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults: 
      run: 
       working-directory: ./mock-email-client
    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
        
    - name: Extract branch name
      shell: bash
      run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
      id: extract_branch
     
    - name: Get version value
      run: |
        if [ "${{ github.event.inputs.Version }}" ]; then
          echo "DISPLAY_VERSION=${{ inputs.Version }}" >> $GITHUB_ENV
        else
          echo "DISPLAY_VERSION=${{ steps.extract_branch.outputs.branch }}" >> $GITHUB_ENV
        fi
    - name: Install dependencies
      working-directory: ./mock-email-client
      run: npm install --force
     
    - name: Build
      working-directory: ./mock-email-client
      env:
        SEMANTIC_VERSION: ${{ env.DISPLAY_VERSION }}
      run: npm run build:prod

    - name: Version Update in Index.html file
      run: sed -i -e "s/%version%/${{ env.SEMANTIC_VERSION }}/" dist/mock-email-client/index.html

    - name: Deploy
      if: success()
      working-directory: ./mock-email-client
      run: aws s3 sync ./dist/mock-email-client s3://mock-email-client
